@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.column {
  flex: 50%;
  margin:0px;
  padding: 0px;
  overflow: scroll;
}

pre {
  height: 100%;
  margin:0px;
  padding: 0px;
}

/* Clear floats after the columns */
.row {
  display: flex;
  height: 100%;
}

#form {
  margin: 20px;
}

.field{
  display: flex; 
  flex-direction: row;
  margin-top: 10px;
}

a {
  color: #30c2ff;
  text-decoration: none;
}

p {
  font-size: 14px;
}

img {
  width: 64px;
  height: 64px;
}

input[type='text'] {
  font-size: 15px;
  border: 0px;
}

button {
  margin-top: 10px;
  color: #fff;
  background-color: #30c2ff;
  border-color: #30c2ff;
  padding: 0 11px;
  border-radius: 3px;
  line-height: 28px;
}

h3 {
  margin-top: 40px;
  font-size: 20px;
  color: #555;
}

#components {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}

pre.prettyprint {
  border: 0px;
  padding: 10px;
  background: transparent;
}

.column.result {
  background: #2F323A;
}

.not-visible {
  display: none;
}

.component {
  cursor: pointer;
  list-style: none;
  margin-top: 10px;
  opacity: 0.35;
}

.component.selected {
  opacity: 1.0;
}

.component img {
  width: 18px;
  height: 18px;
  display: block;
  float:left;
  margin-right: 10px;
}

.component h2 {
  font-size: 16px;
}
.component .checkbox {
  margin: 0px;
  width: 18px;
  height: 18px;
  display: block;
  background-color: #eeeeee;
  border-radius: 3px;
  float:right;
  margin-left: 10px;
}
.component .checkbox img {
  display: none;
}
.component.selected .checkbox img {
  display: inline;
}

