@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.column {
  flex: 50%;
  margin:0px;
  padding: 0px;
  overflow: scroll;
}

pre {
  height: 100%;
  margin:0px;
  padding: 0px;
}

/* Clear floats after the columns */
.row {
  display: flex;
  height: 100%;
}

#form {
  margin: 20px;
}

.field{
  display: flex; 
  flex-direction: row;
  margin-top: 10px;
}

a {
  color: #30c2ff;
  text-decoration: none;
}

p {
  font-size: 14px;
}

img {
  width: 64px;
  height: 64px;
}

input[type='text'] {
  font-size: 15px;
  border: 0px;
}

button {
  margin-top: 10px;
  color: #fff;
  background-color: #30c2ff;
  border-color: #30c2ff;
  padding: 0 11px;
  border-radius: 3px;
  line-height: 28px;
}

h3 {
  margin-top: 40px;
  font-size: 14px;
  color: #555;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  text-align: left;
  width:80%;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  background: #eee;
  border-radius: 4px;
  list-style: none;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
